@charset "utf-8";
.menu-grid {
  display: grid; /* グリッドレイアウトを有効化 */
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 24px; /* カード同士の余白 */
  margin-top: 20px;
}
body {
  background-color: #000;   /* 黒 */        
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
.site-header h1 {
    font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
    font-size: 48px;   /* 大きめに設定 */
    font-weight: 700;  /* 太字で力強く */
    margin: 0;
    color: #fff;       /* 黒背景に映える白文字 */
}

.site-header {
   background-image: url("2025素材/ワイン.jpg"); /* 好きな画像を指定 */
  background-size: cover;                 /* 画像を枠いっぱいに広げる */
  background-position: center;            /* 中央に配置 */
  background-repeat: no-repeat;           /* 繰り返さない */
  color: #fff;
  padding: 10px 20px;
}

.container {
  max-width: 1200px;   /* PC用の適切な幅 */
  margin: 0 auto;      /* 左右を自動調整して中央寄せ */
  padding: 0 20px;     /* 画面端にくっつかないよう余白 */
}

.dish {
  color:000;
  background: #fff; /* カード背景 */
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); /* ちょっと立体感 */
  text-align: center;
}
.wine-img{
	width:400px;
	height: 180px;
}
.contact-info {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  text-align: right;
  margin-top: 10px;
}
.txt{
	color:#ffffff;
}
.header-brand {
  display: flex;
  align-items: center;
  gap: 12px;
}
.chef-img{
	width:200px;
	height:auto;
}
.logo-img {
  width:220px;
  height: 220px;
}
.pasta-img{
	width:400px;
    height: 180px;
}
.pizza-img{
	width:400px;
    height: 180px;
}
nav {
  position: absolute;
  top: 400px;
  right: 20px;
}
nav1 {
  position: absolute;
  top: 130px;
  right: 20px;
}
.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}
.nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.site-title {
  font-size: 24px;
  margin: 0;
  color: #fff;
}
